html {
	background-color: black;
	color: white;
	font-family: 'Comic Sans MS';
}

#description {
	color: gray;
}

#achievement {
	font-size: 50px;
}

.congrats {
	font-size: 75px;
}

input {
	font-family: 'Comic Sans MS';
}

.card {
	display: grid;
	align-content: center;
	text-align: center;
}

.hint {
	color: yellow
}

*[contenteditable], button {
    background: white;
	border: gray solid 2px;
    border-radius: 6px;
    color: black;
    font-family: 'Comic Sans MS';
}

button:hover {
    cursor: pointer;
}

button:active {
    background: gray;
    color: white;
}