html {
    background-color: black;
    color: white;
    font-family: 'Comic Sans MS';
}

#OtherTxt {
    opacity: 0.25;
}

#achievementTxt {
    font-size: 50px;
}

.Congrats {
    font-size: 75px;
}

#nameInput {
    font-family: 'Comic Sans MS';
}

.cardHold {
    display: grid;
    align-content: center;
    text-align: center;
}